/* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
} */


#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	
	min-width: 100%; 
	min-height: 100%;
 z-index: -999;;
          
}


/* footer hr line */
.dark hr {
	border-top-color: #ddd !important;
}

hr {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	border: 0 !important;
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
	width: 800px !important;
}

.footer-edit {
	color: white;
}

#copyrights {
	/* padding: 40px 0;
	font-size: 14px;
	line-height: 1.8; */
	background-color: transparent !important;
	letter-spacing: 3px;
	text-align: center;
}
#footer_name {
	color: aquamarine;
}



/* Add some content at the bottom of the video/page */
.content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}




.container {
	color: white;
	/* margin-left: 150px;
	margin-right: 150px; */
 /* font-family: Arial, Helvetica, sans-serif; */
 /* height: 100px; */
}


/* #about-container {
	margin-bottom: 20px;

} */

/* h3 {
	color: white;

} */


a.si-linkedin:hover {
	color:#4875B4 !important;
}

a.si-vimeo:hover {
	color:#86B32D !important;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:white;
  height: 1px;
}


.aboutTitle {
	font-size:40px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: white;

}

.aboutDescription {
	font-size:25px;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Raleway', sans-serif;
	/* word-spacing: 3px; */
	letter-spacing: 2px;
	line-height: 30px;
	font-weight: 200; 

	/* font-family: Arial, Helvetica, sans-serif */

	/* font-family: "Heebo", "Helvetica Neue", Helvetica, sans-serif;
	word-spacing: 7px;
	letter-spacing: 2px;
	line-height: 45px;
	font-weight: 400; */
}

#resume h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
	/* word-spacing: 2px; */
	letter-spacing: 1px;
}

#resume h4 {
	font-family: 'Raleway', sans-serif;
	color: white;
	/* word-spacing: 2px; */
	letter-spacing: 1px;
	font-size: 20px;

}

.year {
	color: cyan;
}

p {
	font-size: 20px;
}

hr {
	/* display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid red;
	margin: 1em 0;
	padding: 0;  */

	border-color: cyan;
  background-color: cyan; 
  color: cyan;
}


#portfolio {
	/* padding-top: -10px; */
	margin-left: -20px;
	margin-top: 50px;
}

#portfolio  h3{
	letter-spacing: 2px;

}

#portfolio h4 {
	margin-top: -15px;
	font-size: 20px;
	letter-spacing: 3px;
}

#footer-left h3 {
	font-size: 54px;
	font-family: 'Raleway', sans-serif;
	color: white;
	padding-left: 44px;
	padding-top: 32px;
	letter-spacing: 3px;
}

#footer-right h3 {
	/* font-size: 100px !important; */
	font-size: 54px !important;
	font-family: 'Raleway', sans-serif !important;
	color: cyan;
	padding-top: 32px !important;
}

#footer-right:hover h3{
	color: gray !important;
}

.portolio-link:hover h4 {
	color: gray !important;
}


#footer .footer-widgets-wrap {
	position: relative;
	padding: 150px 0;
}

.box {
	padding-left: 20px !important;
	padding-right: 20px !important;
}



/* #portfolio-container {
	margin-top: 5px;
}

#portfolio-word {
	margin-top: 5px;
} */

.row-bottom-margin { margin-bottom:20px; }


/* hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid white;
} */


#footer.dark, .dark #footer {
	background-color: rgba(0,0,0,0.5) !important;
	/* color: #6d2121; */
	/* border-top-color: rgba(0,0,0,0.2); */
	/* height: 100px !important; */
}

#footer .footer-widgets-wrap {
	/* position: relative; */
	padding: 70px 0;
}

#footer-contact {
	font-size: 20px;
	flex-wrap: nowrap;
}

/* 
 h1 h2 {
	font-size: 18px !important;
} */

h1 {
	font-size: 20px !important;
}


/* media query size changes for homepage */


@media (min-width: 1801px) and (max-width: 2300px) {
	
	.container { 
		max-width: 1700px !important; 
	}

}


@media (min-width: 1601px) and (max-width: 1800px) {

	.container { 
		max-width: 1500px !important; 
	}

}


@media (min-width: 1400px) and (max-width: 1600px) {
	
	.container { 
		max-width: 1300px !important; 	
	}
	
}


@media (min-width: 1201px) and (max-width: 1399px) {
	
	.container { 	
		max-width: 1100px  !important; 
	}

}



@media (min-width: 1024px) and (max-width: 1200px) {
	
	.container { 
		
		max-width: 900px  !important; 
	

		

	
	}

}

@media (min-width: 992px) and (max-width: 1023px) {
	
	.container { 		
		max-width: 900px  !important; 	
	}

}


@media (min-width: 768px) and (max-width: 991px) {
	
	.container { 
		max-width: 668px  !important; 
	}

}

@media (min-width: 576px) and (max-width: 767px) {
	
	.container { 
		max-width: 476px  !important; 
	}

}


@media (max-width: 575px) {
	
	.container { 
		
		max-width: 476px; 
		font-size: 10px !important;

	}

	.about {
		font-size: 50px !important;

	}

	.container, #header.full-header .container, .container-fullwidth {
    width: 100% !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
	}

	.aboutDescription {
    font-size: 20px !important;
	}

	#footer-left h3 {
    font-size: 35px !important;
	}
	#footer-right h3 {
    font-size: 35px !important;
  }


}










