

.si-linkedin:hover,
.si-colored.si-linkedin { 
	background-color: rgba(0,0,0,0) !important; 
}


.si-vimeo:hover,
.si-colored.si-vimeo { 
	background-color: rgba(0,0,0,0) !important; 
}

a.si-linkedin:hover {
	
	color:#4875B4 !important;
}

a.si-vimeo:hover {
	color:#86B32D !important;
}

a.quiettabs:hover {
	color: rgb(25,24,24) !important;
}

@media (min-width: 1200px) {
.container {
		max-width: 2000px;
}
		



#about-container {
	max-width: 1000px;
}
}


 .dark #header.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), .dark #header.sticky-header.transparent-header #header-wrap:not(.not-dark), .dark #header.transparent-header.floating-header .container, .dark #header.transparent-header.floating-header.sticky-header .container, #header.dark.sticky-header:not(.transparent-header) #header-wrap:not(.not-dark), #header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark), #header.dark.transparent-header.floating-header .container, #header.dark.transparent-header.floating-header.sticky-header .container, .dark .responsive-sticky-header #header-wrap, .responsive-sticky-header.dark #header-wrap {
	background-color:rgb(25,24,24) !important;
}

#vimeo-logo {
	/* padding-left: 10px!important; */
	margin-left: -30px !important;
}


#contact-words h1 {
	font-family: 'Raleway', sans-serif !important;
}


#contact-number {
	font-family: 'Roboto', sans-serif !important;
}


@media (max-width: 767px) {

	#slider h2 { 
		font-size: 55px; 
		letter-spacing: 0px;
		 text-align: left;
		 margin-top: 154; 
		 margin-left: 13px
		}

		#slider h1 { 
			font-size: 71px; 
			letter-spacing: 0px;
			 text-align: left;
			 margin-top: 11px; 
			 margin-left: 11px
			}

		#section-works h2 { 
			font-family: 'Raleway', sans-serif !important;
		}	

		/* #quiet-contact  { 
			font-family: 'Raleway', sans-serif !important;
		} */
	}





	@media (max-width: 575px) {
		#slider h2 { 
			font-size: 30px; 
			letter-spacing: 1px;
			 text-align: left;
			 margin-top: -54px;
			 margin-left: 8px;

			}	

			#slider h1 { 
				font-size: 42px; 
				letter-spacing: 0px;
				 text-align: left;
				 margin-top: 7px; 
				 margin-left: 8px
				}
	
		#quietTitle { 
			/* font-size: 25px; 
			letter-spacing: 3px;
			 text-align: left; */
			 margin-left: -30px !important;
			 margin-top: 30px !important;
			}		
	
		/* Contact */
		#section-contact h2 { 
			font-size: 17px; 
			letter-spacing: 3px;
			 text-align: left;
			 /* font-family: 'Raleway', sans-serif !important; */

		}				

		#section-contact h3 { 
			font-size: 30px; 
			letter-spacing: 3px;
			/* font-family: 'Raleway', sans-serif !important; */
		}		

		/* #quiet-contact  { 
			font-family: 'Raleway', sans-serif !important;
		} */
	
		/* About  */
		#section-about h2 { 
				font-size: 50px; 
				letter-spacing: 3px;
				 text-align: left;
				 font-weight: 1000;
		}			
	
		#section-works h2 { 
			font-size: 35px; 
			letter-spacing: 2px;
			margin-top: 44px; 
			margin-bottom: 8px;
			font-family: 'Raleway', sans-serif !important;
 
		}	
	
	
	}
	

@media (min-width: 768px) {

	#slider h2 { 
		font-size: 80px; 
		letter-spacing: 0px;
		 text-align: left;
		 margin-top: 210px; 
		 margin-left: 17px
		}

		#slider h1 { 
			font-size: 103px; 
			letter-spacing: 0px;
			 text-align: left;
			 margin-top: 11px; 
			 margin-left: 17px
			}
	

		#section-about-title h2 { 
			font-size: 56px; 
			letter-spacing: 3px;
		}	
		
		#section-works h2 { 
			font-size: 47px; 
			letter-spacing: 5px;
			margin-top: 65px; 
			margin-bottom: 65px; 
			font-family: 'Raleway', sans-serif !important;
		}	

		
		#section-works h2 { 
			font-family: 'Raleway', sans-serif !important;
		}	


}


@media (min-width: 1024px) {
	#slider h2 { 
		font-size: 111px; 
		letter-spacing: 3px;
		 text-align: left;
		 margin-top: 0px; 
		 margin-left: 30px
		}

	#slider h1 { 
			font-size: 150px; 
			letter-spacing: 0px;
			 text-align: left;
			 margin-top: 20px; 
			 margin-left: 25px
			}
	

	#section-about-title h2 { 
			font-size: 57px; 
			letter-spacing: 3px;
	}	
	

	#contact-words  h1 { 
		font-size: 26px; 
	} 

	#contact-words  h2 { 
		font-size: 20px; 
	} 
	#contact-number h2 { 
		font-size: 20px; 
	} 




	

}


	
	
}

