



@media (min-width: 768px) {

	#slider h2 { 
		font-size: 65px; 
		letter-spacing: 0px;
		 text-align: left;
		 margin-top: 164px; 
		 margin-left: 17px

		}

		#section-about-title h2 { 
			font-size: 56px; 
			letter-spacing: 3px;
		}	
		
		#section-works h2 { 
			font-size: 47px; 
			letter-spacing: 5px;
			margin-top: 65px; 
			margin-bottom: 65px; 
		}	

	/* Contact */
	#section-contact h2 { 
		font-size: 37px; 
		letter-spacing: 3px;
		 text-align: center;
		 /* padding-left: 30px; */
	}				

	#section-contact h3 { 
		font-size: 47px; 
		letter-spacing: 3px;
	}		

	#section-contact-email h2 { 
		 padding-left: 144px; 

	}		
	


}


@media (min-width: 1024px) {
	#slider h2 { 
		font-size: 91px; 
		letter-spacing: 3px;
		 text-align: left;
		 margin-top: 100px; 
		 margin-left: 30px
		}

	#section-about-title h2 { 
			font-size: 57px; 
			letter-spacing: 3px;
	}	
}



@media (max-width: 575px) {
	#slider h2 { 
		font-size: 24px; 
		letter-spacing: 1px;
		 text-align: left;
		 /* margin-top: -26px; */
		}	

	#quietTitle { 
		/* font-size: 25px; 
		letter-spacing: 3px;
		 text-align: left; */
		 margin-left: -30px !important;
		 margin-top: 30px !important;
		}		

	/* Contact */
	#section-contact h2 { 
		font-size: 17px; 
		letter-spacing: 3px;
		 text-align: left;
	}				

	#section-contact h3 { 
		font-size: 30px; 
		letter-spacing: 3px;
	}		

	/* About  */
	#section-about h2 { 
			font-size: 50px; 
			letter-spacing: 3px;
			 text-align: left;
	}			

	#section-works h2 { 
		font-size: 35px; 
		letter-spacing: 2px;
		margin-top: 44px; 
		margin-bottom: 8px; 
	}	


	/* Contact */
	#section-contact h2 { 
		font-size: 23px; 
		letter-spacing: 3px;
		 text-align: center;
		 /* padding-left: 30px; */
	}				

	#section-contact h3 { 
		font-size: 33px; 
		letter-spacing: 3px;
	}		

	#section-contact-email h2 { 
		margin-left: -32px;  

	}		

}





	
	
	
	
}

